// master colors
$white: #ffffff;
$bali-hai: #8093a7;
$prussian-blue: #002650;
$biscay: #1E4069;
$chambray: #3C5895;
$azure: #3b57a7;
$east-bay: #39577E;
$heather: #B7C2CE;
$botticelli: #DBE6F1;
$cosmic: #793952;

// font colors
$font-white: $white;
$font-heather: $heather;

// bg colors
$bg-white: $white;
$bg-bali-hai: $bali-hai;
$bg-prussian-blue: $prussian-blue;
$bg-biscay: $biscay;
$bg-chambray: $chambray;
$bg-azure: $azure;
$bg-easy-bay: $east-bay;
$bg-botticelli: $botticelli;
$bg-cosmic: $cosmic;